.bucket-overview {
  height: 100%;
  .basic-settings-item {
    &:hover {
      .go-setting {
        display: block;
      }
    }
  }


  .basic-settings-item .go-setting {
    display: none;
    position: absolute;
    top: 8px;
    right: 8px;
  }


}
