.bucket-overview{

  .oss-box {
    //border-bottom: 1px solid #d7d8d9;
    margin: 16px 0;

    .box-hd{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 16px;
      height: 30px;
      line-height: 30px;
      h3{
        font-size: 14px;
        color: #373d41;
        font-weight: bold;
      }
    }

    .basic-setting-box{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: stretch;
      align-content: stretch;

      .item{
        display: flex;
        flex: 0 0 50%;
        padding: 12px;
        position: relative;

        &:hover{
          background: #f4f4f4;
        }

        .item-key{
          flex: 0 0 110px;
          color: #9b9ea0;
          margin-right: 1em
        }

        .item-value{
          flex: 1 1 auto;
          white-space: normal;
          word-break: break-all;
          word-wrap: break-word;
        }
      }
  }

  }

}
