.basic-layout {
  height: 100%;
}

.logo {
  width: 200px;
  line-height: 32px;
  color: #ffffff;
  font-size: 28px;
}

.header {
  position: fixed;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 24px;

  .left {
    display: flex;
    align-items: center;
  }
}

.main-content {
  padding: 0 24px;
  margin-top: 64px;
  margin-left: 200px;
  height: calc(100% - 64px)
}

.content {
  background: rgb(255, 255, 255);
  padding: 24px;
  margin: 0;
  min-height: 280px;
}

.side {
  height: 100vh;
  margin-top: 64px;
  position: fixed;
  z-index: 1;
}
