.basic-layout {
  height: 100%;
  transition: background 1s ease;
}

.main-section {
  margin-top: 50px;
  background: transparent;

  .operate {
    padding: 20px 0;
    text-align: center;
    border-bottom: 1px solid #d7d8d9;
    border-top: 1px solid #d7d8d9;
  }

  .bucket-list-title {
    font-size: 12px;
    margin: 10px 0;
    line-height: 20px;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.main-content {
  margin-left: 200px;
  background: #f0f2f5;
}

.content {
  background: rgb(255, 255, 255);
  padding: 0 18px;
  margin: 0;
  height: 100%;
  overflow-y: auto;
}

.bucket-dot {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin-right: 6px;
  background-color: #CCCCCC;
}

.default-side {
  height: 100%;
  position: fixed;
  z-index: 2;
  font-weight: bold;

  ul {
    background: #f7f7f7;
  }

  .ant-menu-item {
    &:hover {
      background-color: #ffffff;
    }
  }

  .ant-menu-item-selected {
    background-color: #ffffff !important;

    &:after {
      content: unset;
    }

    .bucket-dot {
      background-color: #2f54eb;
    }
  }
}
