.basic-layout {
  height: 100%;
  background-image: url("../../asserts/images/main_bg.png");
  transition: background 1s ease;
}

.logo {
  width: 200px;
  line-height: 32px;
  color: #ffffff;
  font-size: 28px;
}

.header {
  position: fixed;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 24px;
  background: transparent;

  .left {
    display: flex;
    align-items: center;
  }
}

.main-section {
  margin-top: 64px;
  background: transparent;
}

.main-content {
  margin-left: 200px;
  height: 100%;
  background: #f0f2f5;
}

.content {
  background: rgb(255, 255, 255);
  padding: 18px;
  margin: 0;
  min-height: 280px;
}

.side {
  height: 100vh;
  position: fixed;
  z-index: 1;
  background: transparent;
  color: #ffffff;
  font-weight: bold;
  div{
    color: #ffffff;
    font-weight: bold;
    background: transparent;
    ul{
      color: #ffffff;
      font-weight: bold;
      background: transparent;
      li{
        color: #ffffff;
        font-weight: bold;
        background: transparent;
      }
    }
  }
}

.ant-menu-item {
  &:hover{
    color: #ffffff;
    font-weight: bold;
    background: rgba(255,255,255,.15) !important;
  }
}

.ant-menu-item-selected{
  color: #ffffff;
  font-weight: bold;
  background: rgba(255,255,255,.15) !important;
}

.ant-menu-submenu > .ant-menu{
  background: transparent;
}
