.oss-drawer {
  top: 64px;

  .ant-drawer-wrapper-body {
    overflow: hidden !important;
  }

  .ant-drawer-body {
    padding: 16px;
    overflow: auto;
    height: 100%;
  }

  .ant-divider-horizontal {
    margin: 16px 0;
  }

  .ant-form-item-with-help {
    margin-bottom: 20px;
  }

  .form-btn {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 1px solid rgb(232, 232, 232);
    padding: 10px 16px;
    text-align: right;
    left: 0;
    background: rgb(255, 255, 255);
    border-radius: 0 0 4px 4px;
  }

  .ant-drawer-content-wrapper {
    height: calc(100% - 64px);
  }
}

