body {
  margin: 0;
  padding: 0;
  height: calc(100%);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root{
  height: 100%;
}

#frame-all{
  background-position: center 0;
  background-repeat: no-repeat;
  //background-color: #3b8cff;
  background-image: url("../asserts/images/main_bg.png");
  //background-color: #866eb9;
  //background-color: #106f8e;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
