body {
  margin: 0;
  padding: 0;
  height: calc(100%);
  font-family: "Hiragino Sans GB", "Noto Sans CJK SC", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root{
  height: 100%;
}

#frame-all{
  background-position: center 0;
  background-repeat: no-repeat;
  background-image: url("../asserts/images/main_bg.png");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

// base-info-box
.oss-box {
  margin: 16px 0;

  .box-hd {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    height: 30px;
    line-height: 30px;

    h3 {
      font-size: 14px;
      color: #373d41;
      font-weight: bold;
    }
  }

  .basic-setting-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: stretch;

    .item {
      display: flex;
      flex: 0 0 50%;
      padding: 12px;
      position: relative;

      &:hover {
        background: #f4f4f4;
      }

      .item-key {
        flex: 0 0 110px;
        color: #9b9ea0;
        margin-right: 1em
      }

      .item-value {
        flex: 1 1 auto;
        white-space: normal;
        word-break: break-all;
        word-wrap: break-word;
      }
    }
  }

}
