.file-home {
  height: calc(100%);


  .header-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;

    .left-btn-group {
      display: flex;
    }
  }

  .ant-input-search {
    input {
      border-radius: 20px;
    }
  }

  .object-name {
    display: flex;
    align-items: center;
  }

  .breadcrumb {
    padding: 0 0 8px 0;
    border-bottom: 1px solid #e8e8e8;
    display: flex;
    justify-content: space-between;
  }

  .list-content {
    height: calc(100% - 62px);

    .ant-breadcrumb {
      border-left: 3px solid #2f54eb;
    }

    .breadcrumb .ant-btn {
      padding: 0 8px;
    }

    .ant-breadcrumb-separator {
      margin: 0;
    }
  }

  .table {
    max-height: calc(100% - 41px);
    overflow-y: auto;

    .list-file-name {
      cursor: pointer;
      margin-left: 10px;
    }
  }

}
