.home{
  height: calc(100%);
}

.header-line{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}

.ant-input-search{
  input{
    border-radius: 20px;
    background: #f1f2f4;
  }
}

.vmode {
  font-size: 20px;
  &:hover{
    color: #2f54eb;
    cursor: pointer;
  }
}

.breadcrumb{
  padding: 3px 0;
}

.list-content{
  height: calc(100% - 43px);
}

.table {
  max-height: calc(100% - 8px);
  overflow-y: auto;
}
