.oss-drawer {

  .upload-help-info {
    margin-top: 8px;
    font-size: 12px;

    .oss-intl-lines {
      line-height: 1.6;

      ol {
        margin-bottom: 0;
      }

      p {
        margin-bottom: 8px;
      }
    }

    .ant-alert-warning {
      margin-top: 8px;
      font-size: 12px;
    }
  }
}
